@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --color-primary: #492e92;
    --color-secondary: #02ab9c;
    --color-dark: #060606;
    --color-white: #f0f0f0;

    --font-heading: "Halvar Breit", sans-serif;
    --font-sans: "Gilroy", sans-serif;

    --text-base: 16px;
    --text-md: 20px;
    --text-xl: 30px;
    --text-2xl: 40px;
    --text-3xl: 50px;
    --text-4xl: 60px;
    --text-5xl: 70px;
    --text-6xl: 80px;

    --animate-pulse: pulse 1s easy-in-out infinite;

    @keyframes pulse {
        0%, 100% {
            opacity: 100%;
        }
        50% {
            opacity: 0%;
        }
    }
}

body {
    background-color: var(--color-dark);
}

a {
    text-decoration: none;
}