@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --color-primary: #492e92;
    --color-secondary: #02ab9c;
    --color-dark: #060606;
    --color-gray: #101010;
    --color-lightgray: #bbbbbb;
    --color-white: #f0f0f0;

    --font-heading: "Halvar Breit", sans-serif;
    --font-sans: "Gilroy", sans-serif;

    --spacing-md: 50px;

    --text-base: 16px;
    --text-md: 20px;
    --text-xl: 30px;
    --text-2xl: 40px;
    --text-3xl: 50px;
    --text-4xl: 60px;
    --text-5xl: 70px;
    --text-6xl: 80px;
    --text-7xl: 100px;
}

* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: #222222;
    background-color: var(--color-dark);
    color: var(--color-white);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
}

p, a, span {
    font-family: var(--font-sans);
    text-decoration: none;
}